*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #16161a;
  color: #fffffe; }

a {
  display: inline-block;
  text-decoration: none;
  color: #1c74e9; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__logo {
  vertical-align: middle; }

.nav__item:not(:last-child) {
  margin-right: 5rem; }

.nav__links {
  display: flex;
  align-items: center;
  list-style: none; }

.nav__link {
  color: #fffffe; }

.nav__link--btn {
  background-color: #1c74e9;
  padding: 1.3rem 2.5rem;
  border-radius: 2rem;
  transition: all 0.2s; }

.nav__link--btn:hover {
  background-color: #043fc9; }

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.header {
  padding-top: 3rem; }
