@import 'variables';

// Navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;

  &__logo {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  &__item:not(:last-child) {
    margin-right: 5rem;
  }

  &__links {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__link {
    color: $color-text;

    &--btn {
      background-color: $color-main;
      padding: 1.3rem 2.5rem;
      border-radius: 2rem;
      transition: all 0.2s;
    }

    &--btn:hover {
      background-color: $color-hover;
    }
  }
}
