@import 'variables';

// Navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  z-index: 100;

  &__logo {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    vertical-align: middle;
    transition: all 0.3s;
  }

  &__item {
    margin-right: 5rem;
    transition: all 0.3s;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__menu {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__link {
    color: $color-text;

    &--btn {
      background-color: $color-main;
      padding: 1.3rem 2.5rem;
      border-radius: 2rem;
      transition: all 0.2s;
    }

    &--btn:hover {
      background-color: $color-hover;
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $color-text;
  }
}

// Section
.section {
  padding: 12rem 0;
  transition: all 1s;

  &--background {
    background-color: $color-background-secondary;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  &__title {
    max-width: 85.6rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8rem;

    &--mb {
      margin-bottom: 12rem;
    }
  }

  &__heading {
    font-weight: 400;
    font-size: 2rem;
    line-height: 144%;
    text-transform: uppercase;
    color: $color-main;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
  }

  &__description {
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 128%;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $color-main;
  border: none;
  color: $color-text;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1.3rem 2.5rem;
  border-radius: 2rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: $color-hover;
}

.btn--scroll {
  background: transparent;
  border-bottom: 1px solid $color-main;
  color: $color-main;
  padding: 0 0 0.3rem 0;
  border-radius: 0;
}

.btn--scroll:hover {
  background-color: inherit;
}

// Media Queries
@media only screen and (max-width: 992px) {
  .nav {
    &__hamburger {
      display: block;

      &.active .nav__bar:nth-child(2) {
        opacity: 0;
      }
      &.active .nav__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.active .nav__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    &__menu {
      position: absolute;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      background-color: $color-background;

      &.active {
        left: 0;
      }
    }

    &__item {
      margin: 16px 0;
    }
  }
}

@media only screen and (max-width: 576px) {
  .section {
    &__heading {
      font-size: 1.8rem;
    }

    &__description {
      font-size: 3.5rem;
    }
  }
}
