@import 'variables';

// Navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  z-index: 100;

  &__logo {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    vertical-align: middle;
    transition: all 0.3s;
  }

  &__item {
    margin-right: 5rem;
    transition: all 0.3s;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__menu {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__link {
    color: $color-text;

    &--btn {
      background-color: $color-main;
      padding: 1.3rem 2.5rem;
      border-radius: 2rem;
      transition: all 0.2s;
    }

    &--btn:hover {
      background-color: $color-hover;
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $color-text;
  }
}

// Section
.section {
  padding: 12rem 0;
  transition: all 1s;

  &--background {
    background-color: $color-background-secondary;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  &__title {
    max-width: 85.6rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8rem;

    &--mb {
      margin-bottom: 12rem;
    }
  }

  &__heading {
    font-weight: 400;
    font-size: 2rem;
    line-height: 144%;
    text-transform: uppercase;
    color: $color-main;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
  }

  &__description {
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 128%;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $color-main;
  border: none;
  color: $color-text;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1.3rem 2.5rem;
  border-radius: 2rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: $color-hover;
}

.btn--scroll {
  background: transparent;
  border-bottom: 1px solid $color-main;
  color: $color-main;
  padding: 0 0 0.3rem 0;
  border-radius: 0;
}

.btn--scroll:hover {
  background-color: inherit;
}

.btn--lg {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 2rem 6rem;
}

// Testimonial slider
.slider-container {
  position: relative;
}

.slider {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  overflow: hidden;

  .slide-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    transition: transform 0.7s;
  }

  &__slide {
    padding: 3rem;
    background-color: $color-background;
    border-radius: 20px;
    flex: 1 0 100%;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.6;
    color: $color-paragraph;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  &__author-container {
    display: flex;
    align-items: center;
  }

  &__author-img {
    border-radius: 50%;
    width: 7rem;
    margin-right: 1rem;
  }

  &__author {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__arrow {
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-250%);
  }

  &__arrow--left {
    left: 20%;
  }

  &__arrow--right {
    right: 20%;
  }
}

.dots {
  display: flex;
  justify-content: center;

  &__dot {
    background: none;
    border: none;
    margin-right: 1.5rem;
    color: $color-paragraph;
    cursor: pointer;
    margin-top: 3rem;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: inherit;
    }
  }
}

// Modal
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 1rem;
  backdrop-filter: blur(4px);
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: center;

  .modal-container {
    position: relative;

    color: $color-background;
    background-color: $color-text;
    padding: 4rem 2rem;
    width: 55rem;

    & .title {
      text-align: center;
      font-weight: 600;
    }

    .modal-close {
      position: absolute;
      right: 3%;
      top: 3%;

      border: none;
      background: none;
      cursor: pointer;
      color: $color-background;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;

    & label,
    input {
      font-family: inherit;
    }

    & label {
      font-weight: 500;
    }

    & input {
      margin-bottom: 1.5rem;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
  }

  .btn--form {
    margin-top: 1.5rem;
  }
}

// // Media Queries
// @media only screen and (min-width: 1400px) {
//   .slider {
//     &__arrow--left {
//       left: 19%;
//     }

//     &__arrow--right {
//       right: 19%;
//     }
//   }
// }

// @media only screen and (min-width: 993px) {
//   .slider {
//     &__slide {
//       max-width: 70rem;
//       margin: 0 auto;
//     }
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .slider {
//     &__slide {
//       padding: 0 20rem;
//     }
//   }
// }

@media only screen and (max-width: 992px) {
  .nav {
    &__hamburger {
      display: block;

      &.active .nav__bar:nth-child(2) {
        opacity: 0;
      }
      &.active .nav__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.active .nav__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    &__menu {
      position: absolute;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      background-color: $color-background;

      &.active {
        left: 0;
      }
    }

    &__item {
      margin: 16px 0;
    }
  }

  .slider {
    &__arrow--left {
      left: 0;
    }

    &__arrow--right {
      right: 0;
    }
  }
}

@media only screen and (max-width: 576px) {
  .section {
    &__heading {
      font-size: 1.8rem;
    }

    &__description {
      font-size: 3.5rem;
    }
  }

  .slider {
    &__arrow--left {
      left: 0;
    }

    &__arrow--right {
      right: 0;
    }
  }
}
